.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
  color: grey;
  background-color: black;
}


.dark{
  background-color: black;
  color: gray;
}



.container{
  width: 400px;
  border: 2px solid white;
  padding: 10px;
  box-shadow: 10px 12px 10px 12px gray;
  
}



.balance span{
  font-size: 20px;
  
}

.incexp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0;
  align-items: center;
  box-shadow: 2px 10px 6px 4px grey;
 
  text-transform: uppercase;
}

.income,.expensis{
  margin:0 10%
}

.moneyMinus{
  font-size: 17px;
  font-weight: 600;
  color: red;
}

.moneyPlus{
  font-size: 17px;
  font-weight: 600;
  color: rgb(17, 66, 17);
}

.List{
  padding: 15px;
 ;
 
}

.minus , .plus{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 10px 6px  rgb(230, 227, 227);
  padding: 15px;
  font-weight: 600;
  
 
  
}

.minus span {
  color: red;
}



.minus .delete-btn{
  border: 0;
  padding: 5px 10px;
  background-color: red;
}

.delete-btn:hover{
  background-color: grey;
  transition: 0.5ms ease-in-out;
}


.plus span{
  color: green;

}

.plus  .delete-btn{
  background-color: green;
  border: 0;
  padding: 5px 10px;
}

.delete-btn:hover{
  background-color: grey;
  transition: 0.5ms ease-in-out;
}






.btn{
  width: 100%;
  color: white;
  background-color: rgb(9, 184, 24);
  border: 0;
}

.form,.btn{
  box-shadow: 2px 10px 6px 4px grey;
  padding: 10px;

}
.formControl input{
  width: 90%;
  padding: 10px;
  margin: 10px 0px;
  
  
}

.formControl label{
  font-weight:700
}
